@model Scheduler.Models.Autorization.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="login">
        @using (Html.BeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <h1>@ViewBag.Title</h1><hr>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Логин" })
                @Html.ValidationMessageFor(m => m.UserName)
            </p>
            <p>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Пароль"})
                @Html.ValidationMessageFor(m => m.Password)
            </p>
              <p>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтверждение пароля" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </p>
            <p class="submit">
                <input type="submit" name="commit" value="Зарегистрироваться">
            </p>
        }
    </div>
</section>
