
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="@Url.Content("~/content/resources/ext-theme-neptune-all.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ext-all.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/content/ext-theme-neptune.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/scripts/locale-ru.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript" charset="utf-8"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>
</body>
</html>

