
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/ext-theme-neptune/ext-theme-neptune-all.css")>
    <link href="@Url.Content("~/scripts/ext/resources/css/main.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/scripts/ext/resources/css/styles.css")" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
  
    <script  type="text/javascript" src="@Url.Content("~/Scripts/ext/ext-all-dev.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
    <script src="@Url.Content("~/scripts/ext/ext-lang-ru.js")" type="text/javascript" charset="utf-8"></script>
</head>
<body>
</body>
</html>

